$primary-color: #007bff;
$secondary-color: #0056b3;
$font-family: 'Roboto', sans-serif;

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.portfolio-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.portfolio-content h1 {
    color: $primary-color;
    margin-bottom: 20px;
}

#portfolio-details {
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

#portfolio-details p {
    margin-bottom: 10px;
}

#portfolio-details p strong {
    font-weight: bold;
}

.back-button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: $secondary-color;
}
