body{
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: black;
    background-color: white;    
    background-image: url(11.jpg);
    
}
.back-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: color black solid  ;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 20px;
  
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }